environment: dev

dev:
  ethereum:
    rpc_url: "https://base-sepolia.g.alchemy.com/v2/{key}"
    contract_addresses:
      - "0x1234567890123456789012345678901234567890"
      - "0x0987654321098765432109876543210987654321"
  rabbitmq:
    url: "amqp://user:password@rabbitmq_host:5672/"
    queue_name: "transactions"
  scanner:
    start_block: 1
    concurrent_workers: 10
    mark_file: "last_scan_block_info.json"
  server:
    port: 8086

prod:
  ethereum:
    rpc_url: "https://mainnet.infura.io/v3/YOUR_INFURA_PROJECT_ID"
    contract_addresses:
      - "0x1234567890123456789012345678901234567890"
      - "0x0987654321098765432109876543210987654321"
  rabbitmq:
    url: "amqp://user:password@production_rabbitmq_host:5672/"
    queue_name: "transactions"
  scanner:
    start_block: 1
    concurrent_workers: 20
    mark_file: "last_scan_block_info.json"
  server:
    port: 9096